$mainColor: black;

$buttonColor: black;
$buttonTextAndIconColor: rgba(244, 244, 244, 0.9);

$buttonColorHover: rgba(22, 22, 22, 0.9);
$buttonTextAndIconColorHover: rgba(244, 244, 244, 1);

$buttonWidth: 260px;
$buttonHeight: 45px;

$titleColor: #111111;

$borderColor: #2c2c2c;


#header {
    background-color: $mainColor;
    height: 100vh;
    width: 25%;
    position: fixed;
    border-right: $borderColor 2px solid;
    z-index: 11;

    #titleContainer{
        background-color: $titleColor;


        #title {
            font-size: 2.5rem;
            font-weight: bold;
            color: white;
            padding: 10px;
            text-align: end;
            margin-right: 50px;
        }
    }

    #navigation {

        #linkList{
            //background-color: yellow;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 10px;
            margin-top: 35px;

            .menuLink{
                display: flex;
                align-items: center;
                width: $buttonWidth;
                height: $buttonHeight;
                //border: blue 2px solid;
                margin-right: 20px;
                text-decoration: none;
                color: $buttonTextAndIconColor;
                background-color: $buttonColor;


                .icons {
                    position: absolute;
                    margin-left: 10px;
                }

                span {
                    margin-left: 40px;
                    font-size: 1.1rem;
                    font-weight: 530;
                    font-family: 'Roboto', sans-serif;
                }

            }

            .menuLink:hover {
                background-color: $buttonColorHover;
                color: $buttonTextAndIconColorHover;
            }
        }

    }
}